.about-us-container {
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-image: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6'); /* imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: justify;
}

.about-us-heading {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.about-us-description {
  font-size: 20px;
  color: #f0f0f0;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}

.get-started-button {
  display: block;
  margin: 30px auto 0;
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #45a049;
}
